files:
    /etc/pki/tls/certs/server.key:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN PRIVATE KEY-----
            MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCzyFtfrDjfsGj1
            B6sFl3Z5uTFyDYjZWGFoNokhqt9nMxYDtvt+vUj+bKl8V9BeBVDYHDMUqbkzc2lH
            yNkvYBRYCF+pSurBiXgqN1IEkKubw7fYLkK4ZtXC/r4M7SWqwf31PVZ6NRFpKhHr
            6obJB2X6mjdf7jknvz5fShr5ldTEbSCWCmS/gcVF5SDMSMvp4L/pqSU64X5jdZYd
            //j+KyoasmWKL1arpWVercmUH94aC3csEgTTP6vkkqxCyhnbLB2RW1N8cgBBYxGS
            vRTYUiTVVJO/fdQE5w9c4yfwRkp7kz8yEWYDEGUQ5pNkFHOR/xPzJhZFQiTlCos8
            qKSlzqF3AgMBAAECggEAQxyRY4MGThZr78A3iuRSETldKF6+Dahs4DqvcTZ4o+0R
            lDxr4JFnXLaShDzBpz9jwPCx7s42uOqly+rBjGpY3c3ua+NwA+Q9y8CP6O1aalCi
            4dvPA0g8FskCiA/ExlwZYcFOdVs3DyNpwj/vpb6Rxn1oG3LxuhEthuPCcxYH8XTL
            Iu2IpYn1KIH9Vnpasxc5YygBiIB8G4HfoIXlUbM4sUI2/0zFnBYMn1aVEaBlRykr
            /64DVjAocbu1kQvktamCoutWPIeO+BJrNpAueDi+6GgK13qmhowveZVw/U6G/0kY
            mWQvJs8Up3FTe4WTSAhrKVp9v+KMO5SYQ8Lwb9rTzQKBgQD6fwMJt5kcmqmrxdxp
            wKWFUWnii/+FRD5rcnp2iubQJIVwnyxOS4W74lMi6F320TVb/cpGusKljMzZiwA9
            jqdNbc2bhnO8MU2WGoobTyjz4duimLozZdeZG58KvD+vn1kp/uklETaGtwcEUF5z
            WQgmTenHldE1Mj4i16Bzby2FLQKBgQC3u5i0/DFwrPURA69beZzKood8u54MmzM4
            ZRJKYeQPvrIZitfz6hIf330/GZLg6/Ze5VL5w+wnD2VZ3r83QK0jgz5DQs6yJkOK
            33iI5/AHjE/s2bYnoKtvWdznzVdLxN1d0jQ5ZnCplzLWq0SKTQxjYpfUthqMYcVs
            smmFuqxvswKBgQDfPW5RrKPxkAyCHzWNsbhRlfrNgYLZG7adP0rQdn25JbMeaVys
            8jVe+hapV3jWTCBHuWgZnLt3moG9plkygv2qzZ6dajeekjnY+hH2wJd4seJxh7b5
            s1tvAeS9RoNjWpm2CY1yEWMMr/S67X0fQ0s2B92+l0/5HqutlYlTFtP0iQKBgQCp
            0PUCinmzt9hGIo7IUG3PiEsLyWj6I9RCkoBGSZX9y3ZXT1Hr+nNIDEt5r8xmoRE0
            gmafvSseqwc0+kDn85pTUXGRv0TFucIBsCx69UyP3Wrd8hd/Juxs3bTkdpDx0gH8
            PlXQm9MTnFD7wo51+WKy1SSaELoW+CL+JSSM2o2YKwKBgEVNwsx9ukjmAHxXPQmR
            xEsr7QF+vlLN0K6TXDdHrJ+db1rFr8hhky4lzL0dE93pLIrcsHSMoXoYsUplcF/L
            dsBWyW3RbVsnjB21NefZclwOZjpsQlI1NfLaoCRVZWhmykmu+VbhW6rCpFekQU3L
            qlvqbB/iPoF80CPNJjmZ6EKp
            -----END PRIVATE KEY-----

    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIEnDCCA4SgAwIBAgIUJ3ANvM87UAQPvjbuQCU3QeiRyyMwDQYJKoZIhvcNAQEL
            BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
            MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
            aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
            MB4XDTI1MDMyMDE1MDYwMFoXDTQwMDMxNjE1MDYwMFowYjEZMBcGA1UEChMQQ2xv
            dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
            BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
            9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs8hbX6w437Bo9QerBZd2ebkxcg2I2VhhaDaJ
            IarfZzMWA7b7fr1I/mypfFfQXgVQ2BwzFKm5M3NpR8jZL2AUWAhfqUrqwYl4KjdS
            BJCrm8O32C5CuGbVwv6+DO0lqsH99T1WejURaSoR6+qGyQdl+po3X+45J78+X0oa
            +ZXUxG0glgpkv4HFReUgzEjL6eC/6aklOuF+Y3WWHf/4/isqGrJlii9Wq6VlXq3J
            lB/eGgt3LBIE0z+r5JKsQsoZ2ywdkVtTfHIAQWMRkr0U2FIk1VSTv33UBOcPXOMn
            8EZKe5M/MhFmAxBlEOaTZBRzkf8T8yYWRUIk5QqLPKikpc6hdwIDAQABo4IBHjCC
            ARowDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
            ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTLtBrdwJmkUwQxROMbSiRbAC3H6TAf
            BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
            MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
            YTAfBgNVHREEGDAWghRpcG9zLm5hdW1hbnNhamlkLmNvbTA4BgNVHR8EMTAvMC2g
            K6AphidodHRwOi8vY3JsLmNsb3VkZmxhcmUuY29tL29yaWdpbl9jYS5jcmwwDQYJ
            KoZIhvcNAQELBQADggEBAIn98lNa9JRC9tMikYEuds9TfjBB5WBQGmMJtSdSsUuN
            sqrMnLliSneHVCH92+sKFD6QdG1goWY9/iwQ7NmhgZbyMApCMJkhu0DSOwH8sNrz
            IQRGl84IlrxP/q3fs0v7falFgShHQgD/1KLnNNX1hsQgj42X44xWgpsjy4gLF/Lw
            vrURDSVJgD3uyi9FeP0qD4c7GNPZy5QSsZ38BpgIyZL0glxop0CNtiCE4+0KfxQG
            QuzrVAklFlMj1et0iKCMEctt2tTZLaJ/sjXDa4ce6Splq7A/AkfJYjaFqdbKFxUZ
            +Dq7lQAK1m9iIZhuevfq4B3V8B9f5eJJhCmo7UQVaok=
            -----END CERTIFICATE-----

