files:
    /etc/pki/tls/certs/server.key:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN PRIVATE KEY-----
            MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCYxerwULyAakp0
            kRoq0U2W8h1pAwBmYZP32/EO8aazchJX9oR05+pO3OfgDRQ9QX6gvlqn9pD0c831
            6qMZR6LhheYzHtuE2/sk75MQOnrpdG1/AhKXOBgGfgN3LX7AehysFQv7ntmm1FTF
            nBBVsoSoHO5RIr3oS+qAm3mE3HOMtFRnle0Fn38pwh8IULQKpztfBWqxqe/EclX0
            G8jYC4/KtZy58Gqac5oZy9/olXlw4XTEGLjCG0jNYc6BrXpaRWqKQmbEGRqbj67D
            1z8yG2MGjhexnOWjbiuCs4ul8SZ2yOKt2j+ZjNzG1wwH6ncgsEed04sJp6GcmTEI
            aoDUjH2DAgMBAAECggEAHr76ROoivb9mg6YuO37LHD1W4Or7Oh+aPXBUx9qnX4bu
            HSjeSH7iH4QC4IsRTzCusOAOc65CRwhFY6AYuf46UCP4C8LCkC8LkMfsc4Ape3F0
            lfKPVkKyRyA2R1ZvI4KP4awMsNOr3xDtjKWXff/DBehoqAiTarxYkhB4ON57HM5g
            R4G3OBuIOhNBmgb0eK+ECSYug4V1+7SqFtncPbtZBfPXv1D8clXgL1uMDsSBVyl5
            CLQsEfX78HwH/dAheg24oD96HUqMGvFZ9eRjc0c5xoAve/+y30h1oiNTQ5+6Yx7J
            0IHPhrvzUnGbFsnVs6VAktldrGsX5GyKiR7nSdFP8QKBgQDS/rGnWKyqI8ZBYlQe
            llDacSch2GjQeeuxUmjUaX6MkvuyH08CuH9FVuPP5FmknBxXkZcs78p8HNqK4s62
            xfPY7b02NIkh5/1iog+grWA31vptrmoVA2VmADOZ5ZEiyvGZ80q5yOCzlYoyHAg9
            5ZypS1OMgzuix761DWTvLh2qkwKBgQC5XArzX6BdaTbxzK2baQ+RpL0/I9hZrlX3
            5cdGTvrQ8Qo1imFcBGtR5NlXmhehevniZKVrSfG7/4PyEzoeSRf/QW4YXxqOdGeM
            1BFKYqKYat0Pm3iiCwCrc2ZsQ7L1yWrdVLeaOSTY6t1uW1B9Ca4/q6ODUYun4wYK
            K6czyrKHUQKBgEQmX9tdmOebhn239NOsWZE02x7jd3de6fHsXE+/g1CEaSevVSXb
            0b/jwNF1QD8a7UybiejJyu0rpKsXdw0yAwEeSO8pKOH6vK0PC10qotlmZpzmqP0A
            i8/WYNRkgexrAH5pRsmbSHi45ForE75qW5+S5PmNqcV6Hu771I4spwhhAoGBAJ0a
            yWFL7MUfl2VMYNz3KC3+njQ08nvYip7pT4RlDqsnkcqddjWivT+VIy3fuiWw8LkV
            KyuLaes4/6Ge8ESZGVDNKT5Y5U5WlSnE2L7eaQeck69Vy+I0RyYKUoZyvu0aAYyE
            8HUz9+ou7u1JUigYm2r11EpKRH9QqV7XbwkzxStxAoGAd9xiQmqHKM9DZUKQKPdP
            nJTXvyxD1cs48Dc2SJpQoh+VtRaVnHqyecV54rbJwNd2izOqEn3woEA5+hj4fBg9
            V9xqAaE2X/Tc3MKmqe8hVdNzAlEVTVRTajA/icMVLspwyppAWFIijyL6f0Mtca3w
            zKpW0aTs/Yy9JUNVh4uWa8U=
            -----END PRIVATE KEY-----

    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIEnjCCA4agAwIBAgIUP5SYA6/K31XnMo1f7ho7xt/YqSEwDQYJKoZIhvcNAQEL
            BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
            MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
            aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
            MB4XDTI1MDMyMDEzMTAwMFoXDTI2MDMyMDEzMTAwMFowYjEZMBcGA1UEChMQQ2xv
            dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
            BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
            9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmMXq8FC8gGpKdJEaKtFNlvIdaQMAZmGT99vx
            DvGms3ISV/aEdOfqTtzn4A0UPUF+oL5ap/aQ9HPN9eqjGUei4YXmMx7bhNv7JO+T
            EDp66XRtfwISlzgYBn4Ddy1+wHocrBUL+57ZptRUxZwQVbKEqBzuUSK96EvqgJt5
            hNxzjLRUZ5XtBZ9/KcIfCFC0Cqc7XwVqsanvxHJV9BvI2AuPyrWcufBqmnOaGcvf
            6JV5cOF0xBi4whtIzWHOga16WkVqikJmxBkam4+uw9c/MhtjBo4XsZzlo24rgrOL
            pfEmdsjirdo/mYzcxtcMB+p3ILBHndOLCaehnJkxCGqA1Ix9gwIDAQABo4IBIDCC
            ARwwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
            ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBQ9fvmEAfXyq9+Jv5iL1UdFYgLOPTAf
            BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
            MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
            YTAhBgNVHREEGjAYghZjczUyMjQubmF1bWFuc2FqaWQuY29tMDgGA1UdHwQxMC8w
            LaAroCmGJ2h0dHA6Ly9jcmwuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2NhLmNybDAN
            BgkqhkiG9w0BAQsFAAOCAQEAwDljjxaWxo/IzbZgaliGv0xK8FbW43gTbvWbns7v
            W7s6gvlUd6Pup/wRk2dO1PgZEcB5TczcfWMBDWyUskV5J5qRXmhFLsxmqwiQT2oK
            RUWQFkyL8TulEZHba/0u9WWMWX3WwKQvaicAzGa1i4I5adipDTKY5O0j+/lbRLQC
            OxICAOapqxwhCiA2FbJrUM/uDHySOYO7NT0n+se263ON3sEUNEWtt5ASwPxC4bip
            dnLHHdcElcf7gkJYSFZsZi/CX7Lb361r7+Zn06AmnA1vHlRZ1FMGmM2r3aLW3OO3
            rbZdlP5E9d9LxsE5SzURCbZyb8h3F8Y/mVhTlCiyf1BrWg==
            -----END CERTIFICATE-----

